<% @products.each do |product| %>
  <p><%= product.name %></p>
  <p><%= image_tag(product.image.url) if product.image.present? %></p>
<% end %>

<%
=begin%>
 <% @products.each do |product| %>
  <div class="product">
    <h3><%= product.name %></h3>
    <% product.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [200, 200]) %>
    <% end %>
  </div>
<% end %> 
<%
=end%>